ul {
  list-style: none; }

a {
  text-decoration: none; }

textarea, input, button {
  outline: none; }

* {
  margin: 0;
  padding: 0; }

body {
  opacity: 1;
  -webkit-transition: 1s opacity;
  transition: 1s opacity; }

body.fade-out {
  opacity: 0;
  -webkit-transition: none;
  transition: none; }

/* Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #8FA4C6;
  height: 80vh;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
 }



 @-webkit-keyframes Gradient {
 	0% {
 		background-position: 0% 50%
 	}
 	50% {
 		background-position: 100% 50%
 	}
 	100% {
 		background-position: 0% 50%
 	}
 }

 @keyframes Gradient {
 	0% {
 		background-position: 0% 50%
 	}
 	50% {
 		background-position: 100% 50%
 	}
 	100% {
 		background-position: 0% 50%
 	}
 }













  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    left: 5%;
    max-height: 150px;
    height: 150px;
    position: absolute; }
    header nav ul:first-child {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      max-width: 150px;
      width: 150px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header nav ul:first-child img {
        width: 100%;
        margin: auto;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        display: block;
        position: relative; }
    header nav ul:last-child {
      -webkit-box-flex: 5;
          -ms-flex: 5;
              flex: 5;
      max-width: 50%;
      width: 50%;
      margin-left: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 500px; }
      header nav ul:last-child li {
        display: inline-block;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        letter-spacing: 2px; }
  header .hero_layout {
    color: white;
    margin: auto;
    width: 70%; }
    header .hero_layout h1 {
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 35px;
      max-width: 100%; }
    header .hero_layout h2 {
      font-size: 18px;
      letter-spacing: 1px;
      font-weight: 300; }

/* Projects Section */
.section_title h1 {
  font-weight: 400i;
  font-style: italic;
  margin: 0 0 5px 0;
  color: #454343;
  font-size: 20px; }

.section_title h2 {
  font-weight: 300;
  color: #626262;
  font-size: 15px; }

#projects {
  width: 80%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  max-width: 1000px;
  padding: 50px 0; }
  #projects .p_box_container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    width: 100%;
    margin: 50px 0 0 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #projects .p_box_container .p_box:nth-child(1) {
      background-color: #FCF8F5; }
    #projects .p_box_container .p_box:nth-child(2) {
      background-color: #F9F8FF; }
    #projects .p_box_container .p_box:nth-child(4) {
      background-color: #FCF8F5; }
    #projects .p_box_container .p_box:nth-child(3) {
      background-color: #F9F8FF; }
    #projects .p_box_container .p_box {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      width: 40%;
      max-width: 45%;
      min-width: 45%;
      width: 45%;
      margin: 15px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 55px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-transition-duration: 0.4s;
              transition-duration: 0.4s; }
      #projects .p_box_container .p_box:hover {
        opacity: 0.7;
        -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s; }
      #projects .p_box_container .p_box h1 {
        font-size: 15px;
        font-weight: 500;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        color: #454343;
        margin: 0 0 5px 0;
        min-height: 20px;
        max-height: 20px;
        height: 20px; }
      #projects .p_box_container .p_box h2 {
        font-size: 13px;
        line-height: 20px;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        color: grey;
        font-weight: 300; }
      #projects .p_box_container .p_box img {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        width: 90%;
        margin: 40px auto; }

#about {
  background-color: #F9F8FF;
  font-family: roboto;
  padding: 100px 0; }
  #about .a_container {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #about .p_module {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 40%;
    max-width: 40%;
    margin: auto; }
    #about .p_module h1 {
      font-weight: 400;
      font-style: italic;
      font-size: 20px;
      margin: 0 0 5px 0; }
    #about .p_module h2 {
      font-size: 15px;
      font-weight: 300;
      color: #888888;
      margin: 0 0 20px 0; }
    #about .p_module p {
      font-weight: 300;
      color: #4E4E4E;
      letter-spacing: 0.1px;
      line-height: 22px;
      font-size: 14px; }

footer {
  padding: 100px 0;
  font-family: 'Roboto', sans-serif;
  max-width: 1000px;
  margin: auto;
  width: 80%; }
  footer .footer_container {
    max-width: 1000px;
    width: 80%;
    margin: 50px auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .footer_container .c_left {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      footer .footer_container .c_left h1 {
        font-weight: 400;
        font-style: italic;
        font-size: 23px;
        margin: 35px 0 5px 0;
        letter-spacing: 0.5px;
        color: #414040; }
      footer .footer_container .c_left h2 {
        font-size: 14px;
        letter-spacing: 0.5px;
        font-weight: 300;
        color: #888888;
        margin: 0; }
    footer .footer_container .c_right {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      footer .footer_container .c_right label {
        padding: 25px 0 8px 0;
        display: block;
        font-weight: 300;
        font-size: 15px;
        color: #2F2F2F; }
      footer .footer_container .c_right input[type=text], footer .footer_container .c_right input[type=email] {
        border: #D8D8D8 solid 1.3px;
        width: 100%;
        height: 40px; }
      footer .footer_container .c_right input {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 0 10px;
        color: #575353;
        font-size: 14px;
        letter-spacing: 0.5px; }
      footer .footer_container .c_right input[type=submit] {
        background-color: #706c6c;
        width: 200px;
        height: 50px;
        color: white;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 13px;
        line-height: auto;
        margin: 25px 0 0 0;
        border: none; }
      footer .footer_container .c_right input::-webkit-input-placeholder {
        font-size: 14px;
        letter-spacing: 0.3px;
        color: #b6b1b1;
        font-weight: 300; }
      footer .footer_container .c_right input:-ms-input-placeholder {
        font-size: 14px;
        letter-spacing: 0.3px;
        color: #b6b1b1;
        font-weight: 300; }
      footer .footer_container .c_right input::placeholder {
        font-size: 14px;
        letter-spacing: 0.3px;
        color: #b6b1b1;
        font-weight: 300; }
