ul
  list-style: none


a
  text-decoration: none

textarea, input, button
  outline: none

*
  margin: 0
  padding: 0

body
  opacity: 1
  transition: 1s opacity

body.fade-out
  opacity: 0
  transition: none




/* Header */


header
  display: flex
  flex-direction: column
  width: 100%
  background-color: #8FA4C6
  height: 80vh
  font-family: 'Roboto', sans-serif



  nav
    display: flex
    width: 90%
    left: 5%
    max-height: 150px
    height: 150px
    position: absolute

    ul:first-child

      flex: 1
      max-width: 150px
      width: 150px
      display: flex
      position: relative
      justify-content: center
      align-items: center

      img
        width: 100%
        margin: auto
        flex: 1
        display: block
        position: relative




    ul:last-child
      flex: 5
      max-width: 50%
      width: 50%
      margin-left: auto
      display: flex
      max-width: 500px

      li
        display: inline-block
        flex: 1
        margin: auto
        text-align: center
        text-transform: uppercase
        font-weight: 500
        color: white
        letter-spacing: 2px

  .hero_layout
    color: white
    margin: auto
    width: 70%


    h1
      font-weight: 500
      letter-spacing: 2px
      text-transform: uppercase
      font-size: 35px
      max-width: 100%

    h2
      font-size: 18px
      letter-spacing: 1px
      font-weight: 300


/* Projects Section */

.section_title

  h1
    font-weight: 400i
    font-style: italic
    margin: 0 0 5px 0
    color: #454343
    font-size: 20px
  h2
    font-weight: 300
    color: #626262
    font-size: 15px

#projects
  width: 80%
  margin: auto
  font-family: 'Roboto', sans-serif
  max-width: 1000px
  padding: 50px 0

  .p_box_container
    width: 100%
    display: flex
    max-width: 100%
    width: 100%
    margin: 50px 0 0 0
    flex-wrap: wrap
    justify-content: center

    .p_box:nth-child(1)
      background-color: #FCF8F5

    .p_box:nth-child(2)
      background-color: #F9F8FF

    .p_box:nth-child(4)
      background-color: #FCF8F5

    .p_box:nth-child(3)
      background-color: #F9F8FF

    .p_box
      flex: 1
      width: 40%
      max-width: 45%
      min-width: 45%
      width: 45%
      margin: 15px
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box
      box-sizing: border-box
      padding: 55px
      display: flex
      flex-direction: column
      transition-duration: 0.4s

      &:hover
        opacity: 0.7
        transition-duration: 0.2s


      h1
        font-size: 15px
        font-weight: 500
        flex: 1
        color: #454343
        margin: 0 0 5px 0
        min-height: 20px
        max-height: 20px
        height: 20px

      h2
        font-size: 13px
        line-height: 20px
        flex: 1
        color: grey
        font-weight: 300

      img
        flex: 1
        width: 90%
        margin: 40px auto



#about
  background-color: #F9F8FF
  font-family: roboto
  padding: 100px 0

  .a_container
    max-width: 1000px
    width: 90%
    margin: auto
    display: flex


  .p_module
    flex: 1
    width: 40%
    max-width: 40%
    margin: auto


    h1
      font-weight: 400
      font-style: italic
      font-size: 20px
      margin: 0 0 5px 0


    h2
      font-size: 15px
      font-weight: 300
      color: #888888
      margin: 0 0 20px 0

    p
      font-weight: 300
      color: #4E4E4E
      letter-spacing: 0.1px
      line-height: 22px
      font-size: 14px


footer
  padding: 100px 0
  font-family: 'Roboto', sans-serif
  max-width: 1000px
  margin: auto
  width: 80%

  .footer_container
    max-width: 1000px
    width: 80%
    margin: 50px auto 0 auto
    display: flex


    .c_left
      flex: 1
      h1
       font-weight: 400
       font-style: italic
       font-size: 23px
       margin: 35px 0 5px 0
       letter-spacing: 0.5px
       color: #414040

      h2
        font-size: 14px
        letter-spacing: 0.5px
        font-weight: 300
        color: #888888
        margin: 0

    .c_right
      flex: 1



      label
        padding: 25px 0 8px 0
        display: block
        font-weight: 300
        font-size: 15px
        color: #2F2F2F

      input[type=text], input[type=email]
        border: #D8D8D8 solid 1.3px
        width: 100%
        height: 40px

      input
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box
        padding: 0 10px
        color: #575353
        font-size: 14px
        letter-spacing: 0.5px

      input[type=submit]
        background-color: #706c6c
        width: 200px
        height: 50px
        color: white
        font-weight: 300
        letter-spacing: 1px
        font-size: 13px
        line-height: auto
        margin: 25px 0 0 0
        border: none


      input::placeholder
        font-size: 14px
        letter-spacing: 0.3px
        color: #b6b1b1
        font-weight: 300
